rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /Users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    match /{userId}/{medicationId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    match /Messages/{document} {
      allow write: if true;
      allow read: if true;
    }
  }
}